/* Set Fonts */
/* Bebas Regular */
@font-face {
    font-family: 'Bebas Regular';
    src: url('../fonts/bebas/bebas_regular/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebas/bebas_regular/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebas_regular/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebas/bebas_regular/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebas_regular/bebasneue_regular-webfont.svg') format('svg');
  }
  /* Bebas Bold */
@font-face {
    font-family: 'Bebas Bold';
    src: url('../fonts/bebas/bebas_bold/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebas/bebas_bold/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebas_bold/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebas/bebas_bold/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebas_bold/bebasneue_bold-webfont.svg') format('svg');
  }

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*End Set Fonts */

.cont-main{
    background-image: url('../images/Bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-navbar{
    background-color:rgb(0,0,0,0.8);
}

.home-page-link{
    border-right:0.5px solid grey ;
}

.btn-success{
    border-radius: 0px!important;
}

/* Font Size */
.center-verticaly {
    margin: auto;
  }

.small-fonts{
    font-size: 0.7rem;
    font-family: Roboto;
}

blockquote{
    font-size: 1.1rem;
}

.fonts-large{
    font-size: 10.2rem;
    font-family: 'Bebas Bold';
}
.small-quote{
    display: none;
}
.big-quote{
    display: inline;
}

.btn-create{
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #29A643!important;
    outline: none;
    border-color: #29A643;
    border-radius: 0%;
}
.foot{
    font-size: 0.88rem;
    font-weight: 400;
    font-family: 'Roboto';
}

.services-horiz-list{
    background-color: #272727;
    border-top: 1.5px solid #484848;
}
/*--------------------------------- End Page 1------------------------------- */

.custom-list-item.active {
    z-index: 2;
    color: red;
    background-color: initial;
    border-color: red;
    font-weight: 500;
}
.jumbotron-arrow{
    background-color: #EFEFEF;
    position:relative;
    width:100% !important;
}

.jumbotron-arrow:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 37%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px #EFEFEF;
    border-left: solid 200px transparent;
    border-right: solid 200px transparent;
}

.footer{
 background-color: #000000;

}



@media (max-width: 767px) { 
    .fonts-large{
        font-size: 6.2rem;
        font-family: 'Bebas Regular';
    }
    blockquote{
        font-size: 0.82rem;
    }
}


@media (max-width: 575.98px) { 
    .home-page-link{
        display: none;
    }
    .sbs-list{
        display: none;
    }
    .services-horiz-list{
        display: none;
    }
    .fonts-large{
        font-size: 4.6rem;
        font-family: 'Bebas Bold';
    }
    .foot{
        display: none;
    }
    blockquote{
        font-size: 0.9rem;
    }
    .small-quote{
        display: inline;
    }
    .trader-list,
    .big-quote{
        display: none;
    }
    .blockquote,
    .blockquote div {
        padding-top: unset!important;
    }

    .jumbotron-arrow:after {
        content:'';
        position: absolute;
        top: 100%;
        left: 37%;
        margin-left: -50px;
        width: 0;
        height: 0;
        border-top: solid 30px #EFEFEF;
        border-left: solid 100px transparent;
        border-right: solid 100px transparent;
    }
    

}

